:root {
	--primary: #4677BB;
    --primary-dark: #4677BB;
	--text: #dfdfdf;
    --text-light: #666666;
    --accent-a: #60FFE5;
    --accent-b: #58BCFF;
    --bg-light: #26242e;
    --bg-dark: #181818;
}